html {
  position: relative;
  height: 100%;
  width: 100%;
}

body,
p {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.85em;
  color: #666;
}

body{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333;
  line-height: 1.5em;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.pt-wrapper {
  width: 100;
  max-width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1;
  background-color: transparent;
}

.subpages {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.pt-page {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 2200px;
  padding-left: 15px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
}

.no-js .pt-page {
  position: relative;
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 90;
  opacity: 1;
  overflow: auto;
}

.no-js body {
  overflow: auto;
}

.header {
  position: fixed;
  width: 160px;
  top: 0;
  bottom: 0;
  padding: 10px 0 0;
  background-color: #fff;
  overflow: auto;
  z-index: 11;
}

.my-photo {
  position: relative;
  margin: 20px auto;
  max-width: 120px;
  text-align: center;
  z-index: 0;
}

.my-photo img {
  height: 80px;
  max-height: 80px;
  width: 80px;
}

.site-title-block {
  position: relative;
  z-index: 1;
  margin: 20px 20px 10px;
  text-align: center;
}

.site-main {
  height: 100%;
  position: relative;
}

.site-main-menu {
  display: block;
  padding: 0;
  margin: 0;
}

.site-main-menu li a,
.site-main-menu li a:hover {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.85em;
  color: #333;
  letter-spacing: 0;
  display: block;
  position: relative;
  padding: 30px;
  text-align: center;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
}

.header .social-links a {
  display: inline-block;
  margin-top: 60px;
  margin-left: 20PX;
  width: 28px;
  height: 28px;
  color: #888;
  background-color: #eee;
  text-align: center;
}
.copyrights{
  margin-top: 30px;
  text-align: center;
}
.timeline-second-style .timeline-item {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 15px;
}

.timeline-second-style .left-part {
  width: 30%;
  display: table-cell;
  padding-right: 25px;
  min-height: 100%;
  text-align: right;
  vertical-align: top;
}

.timeline-second-style .divider:after {
  content: "";
  display: block;
  margin-top: 7px;
  width: 11px;
  height: 11px;
  margin-left: -5px;
  border-radius: 5px;
  border: 2px solid #0099e5;
  background-color: #fff;
}

.section-title-block.second-style .section-description {
  display: block;
  margin: 0;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

.skills-info.skills-second-style h4 {
  font-size: 13px;
  line-height: 1.1em;
  position: relative;
  float: left;
  margin: 0 0 4px;
}

.section-description{
  text-align: right;
}

.photo{
position: sticky;
width: 100vw;
height:90vh;
padding: 0;
margin: 0%;
}

.site-main {
  margin-left: 160px;
}

.pt-page.start-page {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 10px;
  overflow: hidden;
}

.start-page .section-inner {
  background-color: transparent;
  background-image: url(../images/kerge_start_page_1.jpg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.start-page .section-inner .mask {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 0.45);
}

.start-page .title-block {
  position: relative;
  text-align: center;
}

.start-page .title-block h2 {
  color: #fff;
  font-size: 70px;
  margin: 0;
  text-align: center;
}

.start-page .title-block .sp-subtitle {
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  margin: 5px 0;
  text-align: center;
}

.start-page .vcentered {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}